.app-container {
    color: white;
    font-family: 'Orbitron', sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2356D7;
    background: -webkit-linear-gradient(top left, #2356D7, #B60CC3);
    background: -moz-linear-gradient(top left, #2356D7, #B60CC3);
    background: linear-gradient(to bottom right, #2356D7, #B60CC3);
}